<div id ="back">
    <a href="/home">ย้อนกลับ</a>
</div>

<table border = "1" align="center" width="50%" height = "200" >
    <caption> ผลการเรียนปีการศึกษา 2563 ภาคเรียนที่ 1</caption><br>
    <thead>
        <tr>
            <th>รหัสวิชา</th> 
            <th>ชื่อวิชา</th> 
            <th>หน่วยกิต</th> 
            <th>เกรด</th></tr>
        <tbody>
            <tr>
                <td><%= subject.c %></td> 
                <td> <%= subject.namesubject %></td> 
                <td><%= subject.unit %></td> 
                <td><%= subject.grade %></td>
            </tr>
            <tr>
                <td><%= subject.c2 %></td> 
                <td><%= subject.namesubject2%></td>
                <td><%= subject.unit2 %></td> 
                <td><%= subject.grade2 %></td>
            </tr>
            <tr>
                <td><%= subject.c3 %></td> 
                <td> <%= subject.namesubject3 %></td> 
                <td><%= subject.unit3 %></td> 
                <td><%= subject.grade3 %></td>
            </tr>
            <tr>
                <td><%= subject.c4 %></td> 
                <td> <%= subject.namesubject4 %></td> 
                <td><%= subject.unit4 %></td> 
                <td><%= subject.grade4 %></td>
            </tr>
            <tr>
                <td><%= subject.c5 %></td> 
                <td> <%= subject.namesubject5 %></td> 
                <td><%= subject.unit5 %></td> 
                <td><%= subject.grade5 %></td>
            </tr>
            <tr>
                <td><%= subject.c6 %></td> 
                <td> <%= subject.namesubject6 %></td> 
                <td><%= subject.unit6 %></td> 
                <td><%= subject.grade6 %></td>
            </tr>
            <tr>
                <td><%= subject.c7 %>/td> 
                <td> <%= subject.namesubject7 %></td> 
                <td><%= subject.unit7 %></td>
                <td><%= subject.grade7 %></td>
            </tr>   
            <tr>
                <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                <td colspan = "2"> <%= subject.total %></td>
        </tbody><br>
    </thead>
</table>


<table border = "1" align="center" width="50%" height = "200" bgcolor = "#53A7D8">
    <caption> ผลการเรียนปีการศึกษา 2563 ภาคเรียนที่ 2</caption><br>
    <thead>
        <tr>
            <th>รหัสวิชา</th> 
            <th>ชื่อวิชา</th> 
            <th>หน่วยกิต</th> 
            <th>เกรด</th></tr>
        <tbody>
            <tr>
                <td>040203123</td> 
                <td> DISCRETE MATHEMATICS AND APP</td> 
                <td>3</td> 
                <td>B</td>
            </tr>
            <tr>
                <td>040503001</td> 
                <td> STATISTICS FOR EVERYDAY LIFE</td>
                <td>3</td> 
                <td>B</td>
            </tr>
            <tr>
                <td>060243104</td> 
                <td> OBJECT-ORIENTED PROGRAMMING</td> 
                <td>3</td> 
                <td>D+</td>
            </tr>
            <tr>
                <td>060243105</td> 
                <td> FUNDAMENTAL OF GRAPHICS DESIGN</td> 
                <td>3</td> 
                <td>A</td></tr>
            <tr>
                <td>080103002</td> 
                <td> ENGLISH 2</td> 
                <td>3</td> 
                <td>A</td>
            </tr>
            <tr>
                <td>080303601</td> 
                <td> HUMAN RELATIONS</td> 
                <td>3</td> 
                <td>B+</td></tr>
            <tr>
                <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                <td colspan = "2"> 3.16</td>
            </tr>
        </tbody><br>
    </thead>
</table>


<table border = "1" align="center" width="50%" height = "200" bgcolor = "#53A7D8">
    <caption> ผลการเรียนปีการศึกษา 2564 ภาคเรียนที่ 1</caption><br>
    <thead>
        <tr>
            <th>รหัสวิชา</th> 
            <th>ชื่อวิชา</th> 
            <th>หน่วยกิต</th> 
            <th>เกรด</th>
        </tr>
        <tbody>
            <tr>
                <td>060243106</td> 
                <td> DATA STRUCTURE AND ALGORITHM</td> 
                <td>3</td> 
                <td>C+</td>
            </tr>
            <tr>
                <td>060243107</td> 
                <td> COMPUTER ARCHITECTURE</td> 
                <td>3</td> 
                <td>C+</td></tr>
            <tr>
                <td>060243108</td> 
                <td> DATABASE SYSTEM</td> 
                <td>3</td> 
                <td>B+</td>
            </tr>
            <tr>
                <td>060243109</td> 
                <td> COMPUTER NETWORK AND COMMUNICATION</td> 
                <td>3</td> 
                <td>A</td>
            </tr>
            <tr><td>080303603</td> 
                <td> PERSONALITY DEVELOPMENT</td> 
                <td>3</td> 
                <td>A</td>
            </tr>
            <tr>
                <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                <td colspan = "2"> 3.30</td>
            </tr>
        </tbody><br>
    </thead>
</table>
<!DOCTYPE html >
<head>
        <link rel="stylesheet"  href="/css/style.css">
        <title>ตาราง</title>
</head>
<body>

     
    <nav>
        <img src= "fitm.png">
        <h1>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</h1>
       
      
        <ul>
           
         <h3><%= user.name %></h3>
           
           
            <i class="fa-solid fa-right-from-bracket fa-1x"></i>
        
        </a>
  
     
      

        </ul>
    </nav>

    </body>
    </html>



    
{


    "e":"6306021620140@fitm.kmutnb.ac.th",
      "term":2,
  
    "c":"040203123",
    "namesubject":"DISCRETE MATHEMATICS AND APP",
    "unit":3 ,
    "grade":"B",
    
  
    "c2": "040503001",
    "namesubject2": " STATISTICS FOR EVERYDAY LIFE ",
    "unit2":3,
    "grade2":"B",
  
    "c3": "060243104 ",
    "namesubject3":"  OBJECT-ORIENTED PROGRAMMING",
    "unit3": 3,
    "grade3":"D+",
  
    "c4": "060243105 ",
    "namesubject4":"FUNDAMENTAL OF GRAPHICS DESIGN",
    "unit4": 3,
    "grade4":"A",
  
    "c5": "080103002",
    "namesubject5": "ENGLISH 2",
    "unit5": 3,
    "grade5":"A",
  
    "c6": "080303601" ,
    "namesubject6": "HUMAN RELATIONS",
    "unit6":3,
    "grade6":"B+",
  
      
  
    "totalunit":18,
      
    "total":3.16
  
  }



  
{

    "e":"6306021620140@fitm.kmutnb.ac.th",
    "term":3,

   


  "c":"060243106",
  "namesubject":"DATA STRUCTURE AND ALGORITHM",
  "unit":3 ,
  "grade":"C+",
  

  "c2": "060243107",
  "namesubject2": " COMPUTER ARCHITECTURE ",
  "unit2": 3,
  "grade2":"C+",

  "c3": "060243108 ",
  "namesubject3":"  DATABASE SYSTEM",
  "unit3": 3,
  "grade3":"C+",

  "c4": "060243109 ",
  "namesubject4":" COMPUTER NETWORK AND COMMUNICATION",
  "unit4": 3,
  "grade4":"A",

  "c5": "080303603",
  "namesubject5": "PERSONALITY DEVELOPMENT",
  "unit5": 3,
  "grade5":"A",

 
    

  "totalunit":15,
    
  "total":3.30

}


{


    "e":"6306021620140@fitm.kmutnb.ac.th",
    "term":1,
  
    "c":"040203100",
    "namesubject":"GENERAL MATHEMATICS",
    "unit":3 ,
    "grade":"B+",
    
  
    "c2": "060243101",
    "namesubject2": " FUNDAMENTAL OF INFORMATION T",
    "unit2":3,
    "grade2":"C+",
  
    "c3": "060243102   ",
    "namesubject3":" COMPUTER PROGRAMMING",
    "unit3": 3,
    "grade3":"B",
  
    "c4": "060243103 ",
    "namesubject4":"PROBLEM SOLVING IN INFORMATION",
    "unit4": 3,
    "grade4":"C",
  
    "c5": "080103001",
    "namesubject5": "ENGLISH I",
    "unit5": 3,
    "grade5":"B+",
  
    "c6": "080303518 " ,
    "namesubject6": "AEROBIC DANCE & COVER DANCE",
    "unit6":1,
    "grade6":"A",
  
    "c7": "080303606  " ,
    "namesubject7": "SYSTEMATIC AND CREATIVE THINKING",
    "unit7":3,
    "grade7":"B+",
  
    
  
      
  
    "totalunit":19,
      
    "total":3.05
  }


  "term":4,

   


  "c":"060243110",
  "namesubject":"JAVASCRIPT PROGRAMMING",
  "unit":3 ,
  
  

  "c2": "060243111",
  "namesubject2": " SOFTWARE ENGINEERING",
  "unit2": 3,
  

  "c3": "060243112 ",
  "namesubject3":" SYSTEM ANALYSIS AND DESIGN",
  "unit3": 3,
  

  "c4": "060243113 ",
  "namesubject4":" WEB PROGRAMMING",
  "unit4": 3,
  

  "c5": "061100001",
  "namesubject5": "DESIGN THINKING",
  "unit5": 3,

  "c6": "080103034",
  "namesubject6": "ENGLISH CONVERSATION",
  "unit6": 3,
  
  

 
    

  "totalunit":18
  

  
  "e":"6306021620140@fitm.kmutnb.ac.th",
  "term":2,
  "year":2563,


  
  "namesubject1":"  040203100  GENERAL MATHEMATICS",
  "unit1":3 ,
  "grade1":"B+",
  

  
  "namesubject2": " 060243101  FUNDAMENTAL OF INFORMATION ",
  "unit2":3,
  "grade2":"C+",

  
  "namesubject3":" 060243102  COMPUTER PROGRAMMING",
  "unit3": 3,
  "grade3":"B",

  
  "namesubject4":"  060243103  PROBLEM SOLVING IN INFORMATION",
  "unit4": 3,
  "grade4":"C",

  
  "namesubject5": "  080103001  ENGLISH I",
  "unit5": 3,
  "grade5":"B+",

  
  "namesubject6": "  080303518   AEROBIC DANCE & COVER DANCE",
  "unit6":1,
  "grade6":"A",

  
  "namesubject7": "  080303606  SYSTEMATIC AND CREATIVE THINKING",
  "unit7":3,
  "grade7":"B+",

  

    

  "totalunit":19,
    
  "total":3.05
}

<% for (var i = 1; i <= 7;  i++ ) { %>

    <% if (subject.grade[i] == null){%>

   <%= subject.grade[i] = 0 %>
       <% } %>
       
       <% } %>


       e:req.session.user.e,  e:req.session.user.e,


       <%=  (((subject.unit1 *  subject.grade1) +(subject.unit2 *  subject.grade2)+
       (subject.unit3 *  subject.grade3)+(subject.unit4 *  subject.grade4)+(subject.unit5 *  subject.grade5)+
       (subject.unit6 *  subject.grade6) +(subject.unit7 *  subject.grade7)) / (subject.unit1 + subject.unit2 + subject.unit3 + subject.unit4 + subject.unit5 + subject.unit6 + subject.unit7)).toFixed(2)

    
           %>




           .btn2{

            text-align: center;
            
         
         
         }
         .btn2{
             text-align: center;
             font-size: 15px;
             padding: 10px 30px;
             background: none;
             border: #066888 solid 2px;
             color: #066888;
             font-weight: 700;
             letter-spacing: 2px;
             position: relative;
             overflow: hidden;
             transition: .4s;
             cursor: pointer;
            
             
             
         
         }
         .btn2::after{
             content: "";
             width: 0%;
             height: 100%;
             position: absolute;
             background: #066888;
             left: 0;
             top: 0;
             z-index: -1;
             transition: .4s;
         }
         .btn2:hover{
             color:white;
         
         }
         .btn2:hover::after{
             width: 100%;
         }
         
         #t1,#t2,#t3,#t4,#u4{
             text-align: left;
             outline: none;
             border: none;
             border-bottom: 1px solid #341f97;
             width: 200px;
             font-size: 20px;
             color: #341f97;
             
         
         }
         h1{
             color: white;
             padding-right: 700px;
         }
         h3{
             margin: 0px 20px;
             display: inline;
        
         }
        