<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/showgrade.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="   
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
</head>
   
<body>
    
    <div class ="cc">
       
        <nav>
            <img src= "fitm.png">
            <h1>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</h1>
           
          
            <ul>
                <h3><%= user.name %></h3>
               
               
           
               
                <a href="/login">
                <i class="fa-solid fa-right-from-bracket fa-1x"></i>
            
            </a>
      
         
        </ul>
        </nav>

            
      
                
            <div class="container">

        <% Object.values(subject).forEach(function(subject) { %>
<center><table border = "1" align="center" width="50%" height = "200" ></center>
    <caption> ผลการเรียนปีการศึกษา <%= subject.year %>  ภาคเรียนที่ <%= subject.term %></caption><br>
    <thead>
        <tr>
            <th>รหัสวิชา / วิชา</th>
            <th>หน่วยกิต</th> 
            <th>เกรด</th></tr>
        <tbody>
            <% if(subject.namesubject1 != undefined) { %>
            <tr>
              
                <td> <%= subject.namesubject1 %></td> 
                <td><%= subject.unit1 %></td> 
                <td><%= subject.grade1 %></td>
            </tr>
            <% } %>
            <% if(subject.namesubject2 != undefined) { %>
            <tr>
               
                <td><%= subject.namesubject2%></td>
                <td><%= subject.unit2 %></td> 
                <td><%= subject.grade2 %></td>
            </tr>
            <% } %>
            <% if(subject.namesubject3 != undefined) { %>
            <tr>
                <td> <%= subject.namesubject3 %></td> 
                <td><%= subject.unit3 %></td> 
                <td><%= subject.grade3 %></td>
            </tr>
            <% } %>
            <% if(subject.namesubject4 != undefined) { %>
            <tr>
                <td> <%= subject.namesubject4 %></td> 
                <td><%= subject.unit4 %></td> 
                <td><%= subject.grade4 %></td>
            </tr>
            <% } %>
            <% if(subject.namesubject5 != undefined) { %>
            <tr>
             
                <td> <%= subject.namesubject5 %></td> 
                <td><%= subject.unit5 %></td> 
                <td><%= subject.grade5 %></td>
            </tr>
            <% } %>
            <% if(subject.namesubject6 != undefined) { %>
            <tr>
                
                <td> <%= subject.namesubject6 %></td> 
                <td><%= subject.unit6 %></td> 
                <td><%= subject.grade6 %></td>
            </tr>
            <% } %>
            <% if(subject.namesubject7 != undefined) { %>
            <tr>
                <td> <%= subject.namesubject7 %></td> 
                <td><%= subject.unit7 %></td>
                <td><%= subject.grade7 %></td>
            </tr>   
        
        
            <% } %>
          
   
        
            <tr>
                <div class = "font">
                <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                <td colspan = "2"> 
                    
                
    <%=  (((subject.unit1 *  subject.grade1) +(subject.unit2 *  subject.grade2)+
    (subject.unit3 *  subject.grade3)+(subject.unit4 *  subject.grade4)+(subject.unit5 *  subject.grade5)+
    (subject.unit6 *  subject.grade6) +(subject.unit7 *  subject.grade7)) / (subject.unit1 + subject.unit2 + subject.unit3 +
     subject.unit4 + subject.unit5 + subject.unit6 + subject.unit7)).toFixed(2)
    
    
                 
         %> </td> 
                        
    </div>
                        
                  
    </td>
    </tbody><br>
    </thead>
</table>    




          

<% }) %>


<br>
<br>

<center><a href="/home"></center>
    <button class="btn2">ย้อนกลับ</button>
</a>
</div>
      
    </div>

</body>
</html>
            
        
   